Source: libnagios-plugin-www-mechanize-perl
Section: perl
Priority: optional
Maintainer: Raphaël 'SurcouF' Bordet <surcouf@debianfr.net>
Build-Depends: debhelper (>= 9.20120312)
Build-Depends-Indep: libnagios-plugin-perl, libwww-mechanize-perl, perl
Standards-Version: 3.9.5
Homepage: https://metacpan.org/release/Nagios-Plugin-WWW-Mechanize

Package: libnagios-plugin-www-mechanize-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libnagios-plugin-perl, libwww-mechanize-perl
Description: Login to a web page as a user and get data as a Nagios plugin
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
